{% extends 'base.html' %}
{% block title %}Історія школи - офіційний сайт школи №1 ім. Івана Франка міста Кам’янка Бузька{% endblock %}
{% block content1 %}

<div class='page_title'>Історія школи</div>

<div style='margin:20px;'>
<p>
Історія нашої школи розпочинається 1892 роком – роком її заснування. На цей час у школі навчалось всього 40-50 дітей. Навчання хлопців і дівчат проводилося разом. В перші роки свого існування вона була двокласною. Згодом навчання стає роздільним. Ділиться на чоловічу і жіночу гімназії, які очолює пан Пешковський, а згодом директором стає Ян Левицький.
</p>
<p>
Після першої світової війни, школа переходить на семикласне навчання. Директором стає пан Бахтель. Навчання проводиться українською мовою. По закінченні випускникам вручають документ під назвою Повідоленнє шкільнє, де зазначаються предмети, які проходив учень, а також відмітки про успішність. У навчальному процесі крім вивчення певних наук, звертається увага на трудове виховання. Учні оволодівають навичками будівництва кайоків, які віддають на потреби міста. Із плином часу, змінюється назва документа про закінчення школи. Про це свідчать оригінали документів, які дійшли до нас.
</p>

<p>
Грізні роки Великої Вітчизняної війни, голод, розруха охопили країну. Здавалося, що не до навчання, але, як бачимо із документів, що дійшли до нас, у місті навчання не припинялось. Із визволенням країни від німецьких окупантів населення міста, приступає до мирного життя. Відновлюється повноцінне навчання у школі. В ці важкі повоєнні роки її очолює пан Туркевич (1946-1948). У школі працює молодий, енергійний педагогічний колектив. В цей час на теперішньому подвір’ї розміщуються дві школи: російська та українська. У 1947 році при школі працювала дитяча площадка, де діти відпочивали влітку. Оговтавшись від фашистського навали, все більше уваги приділялось питанню освіти молоді. З кожним роком збільшується кількість учнів у школі. Якщо у 1947-1950-их роках її закінчує 93 учні, то уже у 50-их роках атестат зрілості отримують 348 осіб.

</p>


<p>
У 1951 році змінюється керівництво школи. Директором стає Таранушенко Констянтин Петрович. Колектив школи поповнюється новими вчителями. У 1952 році у школі навчається близько семисот учнів.
</p>

<p>
1953- 1957 рр. директором школи був Попов Петро Андрійович. В цей час школа живе повноцінним шкільним життям. Крім навчального процесу, приділяється увага вихованню учнів. У школі проводяться традиційні свята. Саме у цю пору зароджується традиційне свято «Зустрічі з випускниками», яке святкується й понині у першу суботу лютого, а також увійшло в традицію відзначати свято «Останнього дзвоника».
</p>

</p>
У 1957-1960рр. директором був Ткачук Володимир Іванович. У школі випускається три 10-их класи. У 10-А класі навчались учні школи, у 10-Б класі учні, які прийшли після закінчення восьмирічної школи №2, і у 10-В класі – учні з навколишніх сіл.
</p>

<p>
Згодом, у 1961 році, знову змінюється керівництво школи і директором стає Привроцький Петро Олександрович. Крім навчання учні доглядають за кролями на шкільній кролефермі. Створюється гурток «Юних натуралістів», де учні працюють на пришкільних ділянках, доглядають за квітами. Також дбають про літній відпочинок. Для цього було створено шкільний піонерський табір, в якому діти могли повноцінно відпочивати. Організовано харчування школярів.
</p>

<p>
1962 р. – вводиться одинадцятирічне навчання. У школі немає випускників. У 1963 році випускається два 11-их класи, у 1965 – три. У 1966 році відміняється одинадцятирічне навчання і школа переходить знову до десятирічного. Учні школи живуть активним громадським життям, захоплюються спортом, вивчають географію країни, мандруючи її містами.
</p>

<p>
1970 р. – директором знову стає Ткачук Володимир Іванович. У школі працює три окремо збудованих корпуси. В першому навчаються учні 1-4-их класів, в другому – 5-8-мі, в третьому 9-10 класи. У 1971 р. починається реконструкція школи. Активну участь у ній беруть учні. При школі функціонує табір праці та відпочинку «Ватра». Саме ватрівці внесли свій найбільший внесок у будівництво нового корпусу.
</p>

<p>
Учні школи беруть активну участь в громадському житті: виходять на демонстрації, беруть участь у парадах присвячених визначним подіям історії країни.
</p>

<p>
У 1979 році закінчується реконструкція школи, у дію входить новий корпус і спортзал. У 1980 році у школі створюється експериментальний клас по навчанню дітей шестирічного віку. Наприкінці 70-их, початку 80-их навчається найбільша кількість учнів. У десятих класах по 5 паралелей.
</p>

<p>
80-90-ті роки – бурхливі шкільні будні. Школа славиться досягненнями своїх школярів у предметних олімпіадах, районних та обласних заходах. Створюються дружини «Юних інспекторів руху», «Юних друзів пожежної дружини», «Санпост школи». У цей час відкривається завіса перед українським народом. Люди мають змогу вільно подорожувати країнами світу, вивчати історію і культуру інших народів. У 1989 році здійснюється обмін делегаціями учителів та учнів нашої школи та школи з міста Гать Польської Народної Республіки. Учні нашої школи побували в гостях у поляків, а згодом відбулася повторна зустріч на українській землі.
</p>

<p>
У період перебудови у державі школа працює у напрямку національного відродження. Впроваджується концепція української національної школи. Припиняють роботу піонерська та комсомольська організації. Створюються просвітянські загони. Кожен клас оформляє куточки національної символіки, просвітянські кутки.
</p>

<p>
З 1991-1992 н.р. започатковується традиція проводжати дітей-випускників у дорогу під вишитими рушниками. У школі урочисто відзначаються релігійні свята: Різдво Христове, Воскресіння. Популярним стає святкування Дня Матері. З 1993-1994 н.р. вводиться курс вивчення катехизму. В житті держави відкривають темні сторінки історії України. Країна взнає про жахливі події і репресії, голодомор 1932-33 рр., Афганську війну. Учні школи не стоять осторонь. Вони вивчають і згадують ці події, проводять вечори присвячені їм.
</p>

<p>
1996 р. – директором школи призначається Чепіль Ігор Євстахійович. У школі навчається 900 учнів в 33-х класах. Працює великий досвідчений педагогічний колектив. У світі прогресують нові технології. Не відстає вцьому й освіта. У курс навчання вводиться предмет «Інформатика». У школі відкривається комп’ютерний клас. Навчально-виховний процес направлений на розвиток високоосвідченої, духовно-багатої особистості.
</p>

<p>
З 2006 р. – директором в школі працює Фік Роман Петрович. В зв’язку з демографічним спадом у державі, зменшується кількість учнів школи. Школа дотримується своїх славних традицій. Учні прославляють її на районних та обласних олімпіадах, різноманітних заходах. Беруть активну участь у громадському житті. Навчання одинадцятирічне.
</p>

<p>
З 2010 року директором школи стає Пилипчук Тарас Михайлович.
</p>

</div>




{% endblock %}