<div id="ajaxDiv">
<div class='page_title'>Керування фотографіями баннера</div>

<div id ='fonAJAX'></div>
<div id="tables">
<fieldset>
  <legend>Додати фото</legend> 
<div id='msgDiv'>{{msg_add}} </div>
<form id='images_add' enctype="multipart/form-data" action="" name='addform' method="post">{% csrf_token %}
{{ addform }}
<button class='members_button' type="button" onclick="loadXMLDoc1('/add_banner_photo/','ajaxDiv', document.forms.addform)">Додати</button>
</form>
</fieldset>

<fieldset>
  <legend>Видалити фото</legend>
<div id='msgDiv3'>{{msg}} </div>
<form id='images_dell' action="" name='delform' method="post">{% csrf_token %}
{{ delform }}
<div>
        {% for img in all_imgs %}
        <div class='width_img_bl_for_del' style='width:220px;'>
          <div class="for_del_img" style='max-width:210px;'>
            <input type="checkbox" name="checkb_for_del" value={{img}}><img style='max-width:160px;' class='miniphotos' src={{img}}></img>
          </div>
        </div>
        {% endfor %}
</div> 

<div id='delFloat'>
  <button class='members_button' type="button" onclick="loadXMLDoc3('/del_banner_photo/','ajaxDiv', document.forms.delform)">Видалити</button>
  </div>

</form>
</fieldset>
</div>
</div>



<script>
function loadXMLDoc1(url, rDiv, form)
{
  var el = document.getElementById('fonAJAX');
  el.style.display = 'block';
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
        m1 = '*Фото не вибране або має неправильний тип'
        if (xmlhttp.responseText.length == m1.length){
            rDiv = 'msgDiv';
            document.getElementById(rDiv).style.color = 'red'
            var el = document.getElementById('fonAJAX');
            el.style.display = 'none';
        }
    document.getElementById(rDiv).innerHTML=xmlhttp.responseText;
    }
  }
var formData = new FormData(form); 
xmlhttp.open("POST",url,true);

xmlhttp.send(formData);
}



function loadXMLDoc3(url, rDiv, form)
{
conf = confirm("Видалити вибрані файли?")
if(conf == false){
  return false
}
  var el = document.getElementById('fonAJAX');
  el.style.display = 'block';
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
        var m1 = '*Не вибрано жодного фото'
        var m2 = '*Неможливо видалити фото'
        if (xmlhttp.responseText.length == m1.length || xmlhttp.responseText.length == m2.length){
            rDiv = 'msgDiv3';
            document.getElementById(rDiv).style.color = 'red'
            var el = document.getElementById('fonAJAX');
            el.style.display = 'none';
        }
    document.getElementById(rDiv).innerHTML=xmlhttp.responseText;
    }
  }
var formData = new FormData(form); 
xmlhttp.open("POST",url,true);

xmlhttp.send(formData);
}

</script>



