{% extends 'news.html' %}
{% block n %}


<fieldset>
  <div class='h3'><h3>Керування новинами</h3></div>
<fieldset>
   <legend>Додати</legend>
<div id="addDiv"></div>
<form id='members_add' action="" name='addform' method="post">{% csrf_token %}
{{ addform }}
<button class='members_button' type="button" onclick="loadXMLDoc('/add_news/','addDiv', document.forms.addform)">Додати</button>
</form>
</fieldset>
   
<fieldset>
  <legend>Видалити</legend>
<div id="delDiv"></div>
<form id='members_add' action="" name='delform' method="post">{% csrf_token %}
{{ delform }}
<button class='members_button' type="button" onclick="loadXMLDoc('/del_news/','delDiv', document.forms.delform)">Видалити</button>
</form>
</fieldset>
<div style='color: red; font-style: italic'> *абзаци мають розділятися за допомогою '&lt;br&gt;'</div>
</fieldset>




<script>
function loadXMLDoc(url, rDiv, form)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById(rDiv).innerHTML=xmlhttp.responseText;
    }
  }
var formData = new FormData(form); 
xmlhttp.open("POST",url,true);

xmlhttp.send(formData);
}

</script>




{% endblock %}