
<script>
function loadXMLDoc(url)
{
var el = document.getElementById('fonAJAX');
el.style.display = 'block';
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    el.style.display = 'none';
    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET",url,true);
xmlhttp.send();
}
</script>


<div class='page_title'>Вчителі {{kaf}}</div>

{% block dir %} {% endblock %}

{% for name, photo, info in data %}

   <div class='member'>
   		<img class='photo' src={{photo}}> </img>
   		<div class='name'>{{name}}</div>
   		<div class='info'>{{info}}</div>
   </div>

{% endfor %}
