{% extends 'tutorials.html' %}
{% block dir %}

<meta charset="UTF-8">





<fieldset>
  <div class='h3'><h3>Керування електронними підручниками</h3></div>
<fieldset>
   <legend>Додати</legend>
<div id="addDiv"></div>
<form id='tutorials_add'  action="" name='addform' method="post">{% csrf_token %}
{{ form_add }}
<button class='members_button' type="button" onclick="loadXMLDoc('/add_tutorial/','addDiv', document.forms.addform)">Додати</button>
</form>
</fieldset>
   
<fieldset>
    <legend>Видалити</legend>
<div id="delDiv"></div>
<form id='tutorials_del' action="" name='delform' method="post">{% csrf_token %}
{{ form_del }}

</form>
<button class='members_button' type="button" onclick="loadXMLDoc('/del_tutorial/','delDiv', document.forms.delform)">Видалити</button>

</fieldset>
</fieldset>




<script>

function loadXMLDoc(url, rDiv, form)
{

var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById(rDiv).innerHTML=xmlhttp.responseText;
    }
  }
var formData = new FormData(form); 
xmlhttp.open("POST",url,true);

xmlhttp.send(formData);
}


</script>




{% endblock %}