{% extends 'videogallery.html' %}
{% block dir %}




<fieldset>
  <div class='h3'><h3>Керування відеогалереєю</h3></div>
<fieldset>
   <legend>Додати відео</legend>
<div id="addDiv"></div>
<form id='video_add' action="" name='addform' method="post">{% csrf_token %}
{{ addform }}
<button class='members_button' type="button" onclick="loadXMLDoc('/add_video/','addDiv', document.forms.addform)">Додати</button>
</form>
</fieldset>

<fieldset>
  <legend>Видалити відео</legend>
<div id="delDiv"></div>
<form id='video_del' action="" name='delform' method="post">{% csrf_token %}
{{ delform }}
<button class='members_button' type="button" onclick="loadXMLDoc('/del_video/','delDiv', document.forms.delform)">Видалити</button>
</form>
</fieldset>

</fieldset>


<script>
function loadXMLDoc(url, rDiv, form)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById(rDiv).innerHTML=xmlhttp.responseText;
    }
  }
var formData = new FormData(form); 
xmlhttp.open("POST",url,true);

xmlhttp.send(formData);
}

</script>




{% endblock %}